<footer class="footer">

  <div class="footer-info-container">

    <div class="footer-info-item">
      <div class="header">
        <span>Kontakt</span>
      </div>

      <table>
        <tr>
          <td>Telefon</td>
          <td>08 - 654 01 15</td>
        </tr>
        <tr>
          <td>Fax</td>
          <td>08 - 123 45 67</td>
        </tr>
        <tr>
          <td>Mail</td>
          <td>info@wanhainen.se</td>
        </tr>
      </table>

      <!--<div class="contact-link">
        <button>
          <a routerLink="kontakt">Kontakta oss</a>
        </button>
      </div>-->

    </div>

    <div class="footer-info-item">
      <div class="header">
        <span>Adress</span>
      </div>

      <table>
        <tr>
          <td><span>Fleminggatan 17</span></td>
        </tr>
        <tr>
          <td><span>Box 22554</span></td>
        </tr>
        <tr>
          <td><span>104 22 Stockholm</span></td>
        </tr>
      </table>

    </div>

    <div class="footer-info-item">
      <div class="header">
        <span>Bankuppgifter</span>
      </div>

      <table>
        <tr>
          <td><span>Bankgiro</span></td>
          <td><span>234234-56456</span></td>
        </tr>
        <tr>
          <td><span>Org.nr.</span></td>
          <td><span>1234-56789</span></td>
        </tr>
      </table>
    </div>

  </div>

  <div class="copyright-container">
    <div class="copyright-text">
      &copy;2019 Advokatfirman Wanhainen AB
    </div>
  </div>

</footer>
