.footer {
  margin-top: 3em;
  padding: 1em 0;
  background-color: var(--dark-gray);
}

.copyright-container {
  margin-top: 40px;
}

.copyright-text {
  margin: 0 auto;
  max-width: 1080px;
  text-align: center;
  font-size: 0.8rem;
  color: var(--beige);
}

.footer-info-container {
  margin-top: 40px;
  color: var(--beige);
}

table {
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-top: 30px;
}

@media (min-width: 450px) {
  .footer-info-container {
    display: flex;
    justify-content: center;
  }
  .header {
    text-align: left;
    margin-top: 0px;
  }
}

.footer-info-item {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.9em;
}

.footer-info-item > .header {
  padding-left: 3px;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
}

.contact-link > button {
  color: var(--beige);
}

.contact-link > button > a {
  color: var(--dark-gray);
  text-decoration: none;
}
