<div>
  <h2 class="text-center">Brottmål</h2>
  <div class="law-info law-info-dark">
    <p>
      Vad är brottmål för något? Det här är brottmål; brott och mål. Här förklaras
      brottmål i en kort text. Vad är brottmål för något? Det här är brottmål; brott och mål. Här förklaras
      brottmål i en kort text. Vad är brottmål för något? Det här är brottmål; brott och mål. Här förklaras
      brottmål i en kort text. Vad är brottmål för något? Det här är brottmål; brott och mål. Här förklaras
      brottmål i en kort text.
    </p>
  </div>
  <div class="law-info law-info-light">
    <div>
      <h3>Har du råkat ut för ett brott?</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo dolor
        nec tortor rutrum aliquet. Aliquam facilisis tristique maximus. Mauris non
        tristique nunc. Pellentesque tincidunt blandit posuere. Donec pulvinar quis
        tortor sed vestibulum. Quisque auctor, leo sit amet aliquet suscipit, justo
        lacus interdum libero, sit amet vestibulum purus mauris quis quam.
      </p>
    </div>
    <div>
      <h3>Är du misstänkt för ett brott?</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo dolor
        nec tortor rutrum aliquet. Aliquam facilisis tristique maximus. Mauris non
        tristique nunc. Pellentesque tincidunt blandit posuere. Donec pulvinar quis
        tortor sed vestibulum. Quisque auctor, leo sit amet aliquet suscipit, justo
        lacus interdum libero, sit amet vestibulum purus mauris quis quam.
      </p>
    </div>
  </div>

</div>
