<aside id="hero" class="hero">
  <!--Wanhainen Wanhainen Wanhainen Wanhainen Wanhainen Wanhainen Wanhainen Wanhainen-->
</aside>

<main id="main">
  <div class="row">
    <section class="column">
      <h2 class="subtitle">Om oss</h2>
      <p>
        Advokatbyrån bildades 1981. Vi arbetar med
        brottmål och som målsägarbiträden. Har sedan
        vård enligt LVU kom att prövas av förvaltningsrätt
        1980, arbetat som offentliga biträden för barnet
        alternativt föräldrarna. Samma sak har gällt
        prövningar vid förvaltningsrätten av vård enligt
        LPT och LRV, samt vård enligt LVM. Vi arbetar även
        med migrationsärenden, familjerätt, fastighetsrätt,
        boutredningar samt personskaderegleringar. Samt
        andra civilrättsliga tvister.
      </p>
    </section>
    <section class="column">
      <h2 class="subtitle">Kontakt</h2>
      <p>
        Telefonväxel: 08 - 654 01 15<br>
        Öppettider: 08.00 - 16.30<br>
        Besöksadress: Fleminggatan 17<br>
        Mail: info@wanhainen.se<br><br>

        Box 22554<br>
        104 22 Stockholm<br>
      </p>
    </section>
  </div>
</main>
