@media (min-width: 35em) {
  .hero {
    padding: 8em 3em;
    font-size: 1.2rem;
    /*background-image: url(./assets/images/family.jpg);*/
  }
}

@media (min-width: 50em) {
  .hero {
    padding: 11em 6em;
    /*background-image: url(./assets/images/family.jpg);*/
  }
}

.hero2 {
  max-width:100%;
  max-height:100%;
}
