<div class="hero-container">
  <img class="hero-image" src="/assets/images/start/stockholm.jpg">
  <div class="hero-text"><span>Vi är erfarna. Vi är engagerade. Vi är envisa.<br>Vi kämpar för dig.</span></div>
  <!--
  https://www.goodfreephotos.com/public-domain-images/reflections-on-the-water-in-stockholm-at-night.jpg.php
  -->
</div>

<main class="start-info-container">
    <!--<h1>Vilka vi är</h1>-->
    <p>
      Vi är en humanjuridisk advokatbyrå med
      lång erfarenhet och särskild kompetens inom flera områden.
      Oavsett vilket område det handlar om är vi engagerade
      och vi kämpar för våra klienters rätt.
    </p>
</main>

<main>
  <h1 class="text-center">Våra områden</h1>
  <div class="card-container">
    <div class="card item-crime">
      <!--<a routerLink="rattsomraden/brottmal">-->
        <img src="/assets/images/start/lagbok.jpg" class="card-image">
        <div class="card-header text-center">
          <span class="card-header-text">Brottmål</span>
        </div>
      <!--</a>-->
    </div>
    <div class="card item-family">
      <!--<a routerLink="rattsomraden/familjeratt">-->
        <img src="/assets/images/start/hands.jpg" class="card-image">
        <div class="card-header text-center">
          <span class="card-header-text">Familjerätt</span>
        </div>
      <!--</a>-->
    </div>
    <div class="card item-migration">
      <!--<a routerLink="rattsomraden/migrationsratt">-->
        <img src="/assets/images/start/forest.jpg" class="card-image">
        <div class="card-header text-center">
          <span class="card-header-text">Migrationsrätt</span>
        </div>
      <!--</a>-->
    </div>

    <div class="card item-social">
      <!--<a routerLink="rattsomraden/socialratt">-->
        <img src="/assets/images/start/sunset.jpg" class="card-image">
        <div class="card-header text-center">
          <span class="card-header-text">Socialrätt</span>
        </div>
      <!--</a>-->
    </div>
    <div class="card item-injury">
      <!--<a routerLink="rattsomraden/personskaderegleringar">-->
        <img src="/assets/images/start/injury.jpg" class="card-image">
        <div class="card-header text-center">
          <span class="card-header-text">Personskadereglering</span>
        </div>
      <!--</a>-->
    </div>
    <div class="card item-misc">
      <!--<a routerLink="rattsomraden/allmanpraktik">-->
        <img src="/assets/images/start/avtal.jpg" class="card-image">
        <div class="card-header text-center">
          <span class="card-header-text">Allmän praktik</span>
        </div>
      <!--</a>-->
    </div>

  </div>

</main>

