<!--<aside id="hero" class="hero">
</aside>-->
<div class="hero-container">
  <img class="hero-image" src="/assets/images/start/stockholm.jpg">
  <div class="hero-text"><span>Vi är erfarna. Vi är engagerade. Vi är envisa.<br>Vi kämpar för dig.</span></div>
  <!--
  https://www.goodfreephotos.com/public-domain-images/reflections-on-the-water-in-stockholm-at-night.jpg.php
  -->
</div>

<main class="start-info-container">
  <section>
    <h1>Vilka vi är</h1>
    <p>
      Advokatbyrån bildades 1981. Vi arbetar med
      brottmål och som målsägarbiträden. Har sedan
      vård enligt LVU kom att prövas av förvaltningsrätt
      1980, arbetat som offentliga biträden för barnet
      alternativt föräldrarna. Samma sak har gällt
      prövningar vid förvaltningsrätten av vård enligt
      LPT och LRV, samt vård enligt LVM. Vi arbetar även
      med migrationsärenden, familjerätt, fastighetsrätt,
      boutredningar samt personskaderegleringar. Samt
      andra civilrättsliga tvister.
    </p>
  </section>
</main>

<main>
  <h1 class="text-center">Våra områden</h1>
  <div class="card-container">
    <div class="card">
      <a routerLink="rattsomraden/brottmal">
        <img src="/assets/images/start/lagbok.jpg" width="300px" class="card-image">
        <div class="card-header text-center">
          <span class="card-header-text">Brottmål</span>
        </div>
      </a>
    </div>
    <div class="card">
      <a routerLink="rattsomraden/familjeratt">
        <img src="/assets/images/start/lagbok.jpg" width="300px" class="card-image">
        <div class="card-header text-center">
          <span class="card-header-text">Familjerätt</span>
        </div>
      </a>
    </div>
    <div class="card">
      <a routerLink="rattsomraden/migrationsratt">
        <img src="/assets/images/start/lagbok.jpg" width="300px" class="card-image">
        <div class="card-header text-center">
          <span class="card-header-text">Migrationsrätt</span>
        </div>
      </a>
    </div>

    <div class="card">
      <a routerLink="rattsomraden/socialratt">
        <img src="/assets/images/start/lagbok.jpg" width="300px" class="card-image">
        <div class="card-header text-center">
          <span class="card-header-text">Socialrätt</span>
        </div>
      </a>
    </div>
    <div class="card">
      <a routerLink="rattsomraden/personskaderegleringar">
        <img src="/assets/images/start/lagbok.jpg" width="300px" class="card-image">
        <div class="card-header text-center">
          <span class="card-header-text">Personskaderegleringar</span>
        </div>
      </a>
    </div>
    <div class="card">
      <a routerLink="rattsomraden/allmanpraktik">
        <img src="/assets/images/start/lagbok.jpg" width="300px" class="card-image">
        <div class="card-header text-center">
          <span class="card-header-text">Allmän praktik</span>
        </div>
      </a>
    </div>

  </div>

</main>

<!--
<main class="">
  <div class="row">
    <section class="column">
      <h2 class="subtitle">Om oss</h2>
      <p>
        Advokatbyrån bildades 1981. Vi arbetar med
        brottmål och som målsägarbiträden. Har sedan
        vård enligt LVU kom att prövas av förvaltningsrätt
        1980, arbetat som offentliga biträden för barnet
        alternativt föräldrarna. Samma sak har gällt
        prövningar vid förvaltningsrätten av vård enligt
        LPT och LRV, samt vård enligt LVM. Vi arbetar även
        med migrationsärenden, familjerätt, fastighetsrätt,
        boutredningar samt personskaderegleringar. Samt
        andra civilrättsliga tvister.
      </p>
    </section>
  </div>
</main>
-->
