<div class="media">
  <img class="media__image-left" src="../assets/images/peter.jpg" width="250px">
  <div class="media__body">
    <h4>Advokat Peter Wanhainen</h4>
    <p>
      Peter Wanhainen tog jur.kand examen 1974. Han fullgjorde
      tingsmeritering vid Oskarshamns tingsrätt och arbetade
      därefter som biträdande jurist vid Stureplans advokatbyrå
      AB fram till 1981. Arbetade därefter tillsammans med advokat
      Christer Magnergård till 1996. Har därefter samarbetat och
      haft kontorsgemenskap med advokat Åke Broné. Ingick i
      Stockholmavdelningens styrelse under delar av åttiotalet och
      ingick även i advokatsamfundets fullmäktige ungefär vid samma
      tidpunkt. Har utöver Åke Broné haft kontorsgemenskap med
      Göran Walander, Charlie Tvärenvigg och numera samarbete med
      advokat Roba Assam. Kristina Wanhainen är sedan 2011 anställd
      som advokat vid advokatbyrån.
    </p>
  </div>
</div>

<div class="media">
  <img class="media__image-right" src="../assets/images/kristina.jpg" width="250px">
  <div class="media__body">
    <h4>Advokat Kristina Wanhainen</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo dolor
      nec tortor rutrum aliquet. Aliquam facilisis tristique maximus. Mauris non
      tristique nunc. Pellentesque tincidunt blandit posuere. Donec pulvinar quis
      tortor sed vestibulum. Quisque auctor, leo sit amet aliquet suscipit, justo
      lacus interdum libero, sit amet vestibulum purus mauris quis quam. Pellentesque
      pellentesque auctor lectus, cursus mollis augue hendrerit ut. Sed euismod
      euismod odio, vitae gravida sapien pretium eu. Suspendisse potenti. Nulla
      nec nibh vitae lorem lobortis interdum. Nam in tortor sapien. Fusce sodales
      pulvinar purus a lobortis.
    </p>
  </div>
</div>

<div class="media">
  <img class="media__image-left" src="../assets/images/linda.jpg" width="250px">
  <div class="media__body">
    <h4>Sekreterare Linda Jansson</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo dolor
      nec tortor rutrum aliquet. Aliquam facilisis tristique maximus. Mauris non
      tristique nunc. Pellentesque tincidunt blandit posuere. Donec pulvinar quis
      tortor sed vestibulum. Quisque auctor, leo sit amet aliquet suscipit, justo
      lacus interdum libero, sit amet vestibulum purus mauris quis quam. Pellentesque
      pellentesque auctor lectus, cursus mollis augue hendrerit ut. Sed euismod
      euismod odio, vitae gravida sapien pretium eu. Suspendisse potenti. Nulla
      nec nibh vitae lorem lobortis interdum. Nam in tortor sapien. Fusce sodales
      pulvinar purus a lobortis.
    </p>
  </div>
</div>
