<div class="hero-container">
  <img class="hero-image" src="/assets/images/aboutUs/stockholm2.jpg">
  <div class="hero-text"><span>Om oss</span></div>
</div>


<div class="about-us-container">

  <p style="margin-top: 40px">
    Advokatbyrån bildades 1981. Vi arbetar med brottmål och som målsägarbiträden.
    Har sedan vård enligt LVU kom att prövas av förvaltningsrätt 1980, arbetat som
    offentliga biträden för barnet alternativt föräldrarna. Samma sak har gällt
    prövningar vid förvaltningsrätten av vård enligt LPT och LRV, samt vård enligt
    LVM. Vi arbetar även med migrationsärenden, familjerätt, fastighetsrätt,
    boutredningar samt personskaderegleringar. Samt andra civilrättsliga tvister.
  </p>

  <h1 class="text-center" style="margin-top: 50px">Våra medarbetare</h1>

  <div class="media">
    <div class="media-image">
      <img class="media__image-left" src="../assets/images/aboutUs/peter.jpg" width="250px">
    </div>

    <div class="media__body">
      <span class="media-header">Advokat <b>Peter Wanhainen</b></span>
      <hr>
      <p>
        Peter Wanhainen tog jur.kand examen 1974. Han fullgjorde
        tingsmeritering vid Oskarshamns tingsrätt och arbetade
        därefter som biträdande jurist vid Stureplans advokatbyrå
        AB fram till 1981. Arbetade därefter tillsammans med advokat
        Christer Magnergård till 1996. Har därefter samarbetat och
        haft kontorsgemenskap med advokat Åke Broné. Ingick i
        Stockholmavdelningens styrelse under delar av åttiotalet och
        ingick även i advokatsamfundets fullmäktige ungefär vid samma
        tidpunkt. Har utöver Åke Broné haft kontorsgemenskap med
        Göran Walander, Charlie Tvärenvigg och numera samarbete med
        advokat Roba Assam. Kristina Wanhainen är sedan 2011 anställd
        som advokat vid advokatbyrån.
      </p>
    </div>
  </div>

  <div class="media">
    <div class="media-image">
      <img class="media__image-right" src="../assets/images/aboutUs/kristina.jpg" width="250px">
    </div>
    <div class="media__body">
      <span class="media-header">Advokat <b>Kristina Wanhainen</b></span>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo dolor
        nec tortor rutrum aliquet. Aliquam facilisis tristique maximus. Mauris non
        tristique nunc. Pellentesque tincidunt blandit posuere. Donec pulvinar quis
        tortor sed vestibulum. Quisque auctor, leo sit amet aliquet suscipit, justo
        lacus interdum libero, sit amet vestibulum purus mauris quis quam. Pellentesque
        pellentesque auctor lectus, cursus mollis augue hendrerit ut. Sed euismod
        euismod odio, vitae gravida sapien pretium eu. Suspendisse potenti. Nulla
        nec nibh vitae lorem lobortis interdum. Nam in tortor sapien. Fusce sodales
        pulvinar purus a lobortis.
      </p>
    </div>
  </div>

  <div class="media">
    <div class="media-image">
      <img class="media__image-left" src="../assets/images/aboutUs/linda.jpg" width="250px">
    </div>
    <div class="media__body">
      <span class="media-header">Sekreterare <b>Linda Jansson</b></span>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo dolor
        nec tortor rutrum aliquet. Aliquam facilisis tristique maximus. Mauris non
        tristique nunc. Pellentesque tincidunt blandit posuere. Donec pulvinar quis
        tortor sed vestibulum. Quisque auctor, leo sit amet aliquet suscipit, justo
        lacus interdum libero, sit amet vestibulum purus mauris quis quam. Pellentesque
        pellentesque auctor lectus, cursus mollis augue hendrerit ut. Sed euismod
        euismod odio, vitae gravida sapien pretium eu. Suspendisse potenti. Nulla
        nec nibh vitae lorem lobortis interdum. Nam in tortor sapien. Fusce sodales
        pulvinar purus a lobortis.
      </p>
    </div>
  </div>
</div>

<div class="collaborations-container">

  <hr>

  <h1 class="text-center" style="margin-top: 50px">Våra samarbetspartners</h1>

  <div class="media">
    <div class="media-image">
      <img class="media__image-left" src="../assets/images/aboutUs/ake.jpg" width="200px">
    </div>
    <div class="media__body">
      <span class="media-header">Advokat <b>Åke Broné</b></span>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo dolor
        nec tortor rutrum aliquet. Aliquam facilisis tristique maximus. Mauris non
        tristique nunc. Pellentesque tincidunt blandit posuere. Donec pulvinar quis
        tortor sed vestibulum. Quisque auctor, leo sit amet aliquet suscipit, justo
        lacus interdum libero, sit amet vestibulum purus mauris quis quam. Pellentesque
        pellentesque auctor lectus, cursus mollis augue hendrerit ut. Sed euismod
        euismod odio, vitae gravida sapien pretium eu. Suspendisse potenti. Nulla
        nec nibh vitae lorem lobortis interdum. Nam in tortor sapien. Fusce sodales
        pulvinar purus a lobortis.
      </p>
    </div>
  </div>

  <div class="media">
    <div class="media-image">
      <img class="media__image-left" src="../assets/images/aboutUs/magnus.jpg" width="200px">
    </div>
    <div class="media__body">
      <span class="media-header">Advokat <b>Magnus Eriksson</b></span>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo dolor
        nec tortor rutrum aliquet. Aliquam facilisis tristique maximus. Mauris non
        tristique nunc. Pellentesque tincidunt blandit posuere. Donec pulvinar quis
        tortor sed vestibulum. Quisque auctor, leo sit amet aliquet suscipit, justo
        lacus interdum libero, sit amet vestibulum purus mauris quis quam. Pellentesque
        pellentesque auctor lectus, cursus mollis augue hendrerit ut. Sed euismod
        euismod odio, vitae gravida sapien pretium eu. Suspendisse potenti. Nulla
        nec nibh vitae lorem lobortis interdum. Nam in tortor sapien. Fusce sodales
        pulvinar purus a lobortis.
      </p>
    </div>
  </div>
</div>
