.about-us-container {
  margin: 0 auto;
  max-width: 1080px;
}

.about-us-container > p {
  padding: 15px;
  margin-top: 30px;
}

.collaborations-container {

  margin: 0 auto;
  max-width: 950px;
  margin-top: 30px;
}


.media {
  padding: 15px;
}

@media (min-width: 700px) {
  .media {
    padding: 30px 60px;
  }
}

.media::after {
  content: "";
  display: block;
  clear: both;
}

.media-image {

}

.media__image {
  border: 1px solid lightgrey;
  padding: 10px;
  width: 150px;
}

.media__image-collaborators {
  width: 100px;
}

@media (min-width: 450px) {
  .media__image {
    width: 250px;
    padding: 15px;
  }
  .media__image-collaborators {
    width: 170px;
    padding: 15px;
  }
}

.media__image-left {
  float: left;
  margin-right: 1.5em;
}

.media__image-right {
  float: right;
  margin-left: 1.5em;
}

.media__body {
  overflow: auto;
  display: inline-block;
  margin-top: 1em;
}

.media__body a {
  color: var(--dark-gray);
}

.media-header {
  margin-top: 0;
  /*font-family: 'Cinzel', serif;*/
  font-family: 'Teko', sans-serif;
}


@media (min-width: 300px) {
  .media__body {
    display: block;
  }
}


hr {
  size: 10px;
  color: lightgrey;
}

.header-margins {
  margin-top: 30px;
  margin-bottom: 0px
}
