<div class="hero-container">
  <img class="hero-image" src="/assets/images/aboutUs/stockholm2.jpg">
  <div class="hero-text"><span>Rättsområden</span></div>
</div>

<main id="main">
  <div class="areas-container">
    <div class="areas-menu">
      <h3>Våra områden</h3>
      <p>Vi hanterar dina ärenden inom följande områden</p>
      <ul>
        <a routerLink="brottmal" routerLinkActive="active"><li>Brottmål</li></a>
        <a routerLink="familjeratt" routerLinkActive="active"><li>Familjerätt</li></a>
        <a routerLink="migrationsratt" routerLinkActive="active"><li>Migrationsrätt</li></a>
      </ul>
    </div>

    <div class="area">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
