<div class="hero-container">
  <img class="hero-image" src="/assets/images/aboutUs/stockholm2.jpg">
  <div class="hero-text"><span>GDPR</span></div>
</div>

<main id="main" style="margin-top:40px">
  <div class="gdpr-container">


    <h1 class="text-center">Integritetspolicy</h1>

    <p>
      Advokatbyrån arbetar för att säkerställa att Din integritet skyddas. Vi
      har därför en policy som fastställer hur Dina personuppgifter ska behandlas
      och skyddas. Denna integritetspolicy gäller advokatbyråns klienter och anställda.
    </p>

    <h3>Vem ansvarar för Dina personuppgifter?</h3>
    <p>
      Advokatbyrån är personuppgiftsansvarig för de personuppgifter som behandlas
      inom bolaget, samt av våra biträden.
    </p>

    <h3>Var lagras Dina personuppgifter?</h3>
    <p>
      I klientregister.
    </p>

    <h3>Vad för slags personuppgifter samlar vi in?</h3>
    <p>
      Vi samlar in personuppgifter som behövs för att utföra vårt uppdrag gentemot
      våra klienter. De personuppgifter som vi behandlar är framförallt kontaktinformation
      såsom namn, personnummer, telefonnummer och adress.
    </p>

    <h3>Hur använder vi Dina personuppgifter?</h3>
    <p>
      Vi använder Dina personuppgifter i följande ändamål:
    <p>
    <ul>
    <li>För att kunna kontakta Dig</li>
    <li>För att besvara Dina frågor.</li>
    <li>För att skicka information till Dig angående Ditt ärende hos oss.</li>
    </ul>
    <p>
      Vi sparar Dina uppgifter så länge som det krävs för att uppfylla ovanstående ändamål
      eller så länge som vi enligt lag eller enligt advokatsamfundets regler är skyldiga att
      göra detta. Därefter raderas Dina personuppgifter.
    </p>

    <h3>Vilka är Dina rättigheter?</h3>
    <p>
      Du har rätt att när som helst begära information om de personuppgifter vi har om Dig.
      Om Dina uppgifter är felaktiga, ofullständiga eller irrelevanta, kan Du begära att få
      dem rättade eller raderade. Vi kan inte radera Dina uppgifter i de fall det föreligger
      ett lagstadgat krav på lagring, som exempelvis bokföringsregler eller arkiveringslagen.
      Begäran om att åberopa dessa rättigheter skall vara skriftlig och skickas till oss på
      adressen nedan: Advokatfirman Peter Wanhainen AB,  Box 22554, 104 22 Stockholm. Efter
      utskicket av detta registerutdrag kommer vi spara denna förfrågan i 12 månader.
    </p>

    <h3>Vem har tillgång till Dina personuppgifter?</h3>
    <p>
      Dina uppgifter behandlas enbart av berörd personal inom bolaget, vilka har tecknat ett
      sekretessavtal. Uppgifter som vidarebefordras till tredje part används endast för att
      tillhandahålla information om Ditt ärende, exempelvis polis, åklagare, försäkringsbolag,
      myndigheter osv. Vi vidarebefordrar, säljer eller byter aldrig Dina personuppgifter för
      marknadsföringsändamål till tredje part utanför advokatbyrån.
    </p>

    <h3>Hur skyddar vi Dina personuppgifter?</h3>
    <p>
      Vi har vidtagit tekniska och organisatoriska åtgärder för att skydda Dina uppgifter från
      förlust, manipulation och obehörig åtkomst. Vi anpassar fortlöpande våra säkerhetsåtgärder
      i enlighet med framstegen och utvecklingen på det tekniska området.
    </p>

  </div>
</main>
