/* You can add global styles to this file, and also import other style files */

@import '~normalize.css';

html {
  --gray: hsla(210, 16%, 97%, 1);
  /*--dark-gray: #333333;*/
  --dark-gray: #383330;
  --orange: hsla(12, 90%, 54%, 1);
  --beige: #f6f4f1;
}

:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}

@media (min-width: 50em) {
  :root {
    font-size: 1.125em;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-family: 'Tajawal', sans-serif;
  /*font-family: 'Meddon', cursive;
  font-family: 'Euphoria Script', cursive;
  font-family: 'Parisienne', cursive;
  font-family: 'Petit Formal Script', cursive;*/
}

/*
.container {
  margin: 0 auto;
  max-width: 1080px;
}
*/


main {
  padding: 1em;
}

/*
@media (min-width: 35em) {
  main {
    padding: 1em 1em;
  }
}

@media (min-width: 50em) {
  main {
    padding: 1em 3em;
  }
}*/

.subtitle {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
}


@media (min-width: 35em) {
  .row {
    display: flex;
    margin-left: -.75em;
    margin-right: -.75em;
  }
  .column {
    flex: 1;
    margin-right: 0.75em;
    margin-left: 0.75em;
  }
}

.start_table td {
  padding-left: 0;
}

.start_table td + td {
  padding-left: 2.5em;
}



.media {
  padding: 1em;
  /*background-color: #eee;*/
  /*border-radius: 0.5em;*/
}

.media::after {
  content: "";
  display: block;
  clear: both;
}

.media__image-left {
   float: left;
   margin-right: 1.5em;
 }

.media__image-right {
  float: right;
  margin-left: 1.5em;
}

.media__body {
  overflow: auto;
  display: inline-block;
  margin-top: 1em;
}

.media__body > h4 {
  margin-top: 0;
  font-family: 'Cinzel', serif;
}

@media (min-width: 35em) {
  .media__body {
    display: block;
  }
}

@media (min-width: 35em) {
  .media {
    padding: 2em 1em;
  }
}

@media (min-width: 50em) {
  .media {
    padding: 2em 4em;
  }
}









/*
    Utility classes
 */
.text-center {
  text-align: center !important;
}


/*
To make an autoprefixed css file:
npx postcss src/*.css --use autoprefixer -d build/

 */

/*
Just for testing if autoprefixer works
 */
/*
.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}

@media (min-resolution: 2dppx) {
  .image {
    background-image: url(image@2x.png);
  }
}*/
