<div class="hero-container">
  <img class="hero-image" src="/assets/images/aboutUs/stockholm2.jpg">
  <div class="hero-text"><span>In English</span></div>
</div>

<main id="main">
  <div class="row">
    <section class="column">
      <h2 class="subtitle">English</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo dolor
        nec tortor rutrum aliquet. Aliquam facilisis tristique maximus. Mauris non
        tristique nunc. Pellentesque tincidunt blandit posuere. Donec pulvinar quis
        tortor sed vestibulum. Quisque auctor, leo sit amet aliquet suscipit, justo
        lacus interdum libero, sit amet vestibulum purus mauris quis quam. Pellentesque
        pellentesque auctor lectus, cursus mollis augue hendrerit ut. Sed euismod
        euismod odio, vitae gravida sapien pretium eu. Suspendisse potenti. Nulla
        nec nibh vitae lorem lobortis interdum. Nam in tortor sapien. Fusce sodales
        pulvinar purus a lobortis.
      </p>
    </section>
    <section class="column">
      <h2 class="subtitle">Non-swedish</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo dolor
        nec tortor rutrum aliquet. Aliquam facilisis tristique maximus. Mauris non
        tristique nunc. Pellentesque tincidunt blandit posuere. Donec pulvinar quis
        tortor sed vestibulum. Quisque auctor, leo sit amet aliquet suscipit, justo
        lacus interdum libero, sit amet vestibulum purus mauris quis quam. Pellentesque
        pellentesque auctor lectus, cursus mollis augue hendrerit ut. Sed euismod
        euismod odio, vitae gravida sapien pretium eu. Suspendisse potenti. Nulla
        nec nibh vitae lorem lobortis interdum. Nam in tortor sapien. Fusce sodales
        pulvinar purus a lobortis.
      </p>
    </section>

  </div>
</main>
